html,
body {
  margin: 0px;
  height: 100%;
}
.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("filipe-almeida-hQuQwfY8QoE-unsplash.jpg");
  background-size: 100vh 100vh;
  background-size: cover;
  z-index: -1;
  animation: animation 55s infinite ease-in-out;
}

@keyframes animation {
  0% {
    background-image: url("filipe-almeida-hQuQwfY8QoE-unsplash.jpg");
  }
  25% {
    background-image: url("filipe-almeida-hQuQwfY8QoE-unsplash.jpg");
  }
  50% {
    background-image: url(" filipe-almeida-hQuQwfY8QoE-unsplash.jpg");
  }
  80% {
    background-image: url("filipe-almeida-hQuQwfY8QoE-unsplash.jpg");
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: monospace;
}
